name: Lint
on:
  push:
    branches:
      - main

  pull_request:
    types: [ opened, synchronize ]
    paths-ignore:
      - '*.md'
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version: 1.25.6

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --timeout 2m