name: "Test"
on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'

  pull_request:
    types: [ opened, synchronize ]
    branches:
      - main
    paths-ignore:
      - '*.md'

  workflow_dispatch:

jobs:
  # Run unit tests
  unit:
    name: "Run unit tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.0

      - name: Install dependencies and run tests
        run: |
          go mod download
          go test -v ./... -coverpkg=./... -short -coverprofile=coverage.out

      - name: Archive code coverage results
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage
          path: coverage.out

  code_coverage:
    name: "Code coverage report"
    if: github.event_name == 'pull_request' # Do not run when workflow is triggered by push to main branch
    runs-on: ubuntu-latest
    needs: [ unit ]
    continue-on-error: true # not critical
    permissions:
      contents: read
      actions: read
      pull-requests: write # write permission needed to comment on PR
    steps:
      - uses: fgrosse/go-coverage-report@v1.1.1
        with:
          coverage-artifact-name: code-coverage
          coverage-file-name: coverage.out